
@{
    ViewBag.Title = "Youtube";
}

<h2>Search youtube videos</h2>
<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <input type="text" id="youtubeSearchInput" name="youtubeSearchInput" class="form-control youtubeSearchInput" placeholder="Enter keyword and press search please..."/>
            <div class="input-group-addon youtubeSearchInputGroupAddon">
                <button type="button" id="youtubeSearchBtn" class="btn btn-primary youtubeSearchBtn">Search</button>
            </div>
        </div>
        <div id="youtubeSearchResults" class="youtubeSearchResults">Search result will appear here....</div>
    </div>
</div>


