
@{
    ViewBag.Title = "Youtube";
}

<h2>Search youtube videos</h2>
<div class="row" ng-app="YoutubeSearchApp">
    <div class="col-md-12" ng-controller="YoutubeSearchController">
        <div class="input-group">
            <input type="text" id="youtubeSearchInput" name="youtubeSearchInput" class="form-control youtubeSearchInput" placeholder="Enter keyword and press search please..." ng-model="youtubeSearchVal" ng-keyup="onSearchValKeyup($event)" />
            <div class="input-group-addon youtubeSearchInputGroupAddon">
                <button type="button" id="youtubeSearchBtn" class="btn btn-primary youtubeSearchBtn" ng-click="btnPostCall()">Search</button>
            </div>
        </div>
        <div id="youtubeSearchResults" class="youtubeSearchResults ng-cloak" ng-repeat="video in YoutubeVideos">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 youtubeThumbnailImageContainer">
                <div class="youtubeThumbnailImageHolder" ng-mouseenter="onThumbnailImageMouseenter($event)" ng-mouseleave="onThumbnailImageMouseleave($event)" data-video-id="{{video.Id}}">
                    <div id="youtubeThumbnailImageBlanker" class="youtubeThumbnailImageBlanker ng-hide" ng-show="youtubeThumbnailImageBlankerShow" ng-click="showVideoModal($event)"><i class="fa fa-youtube-play youtubePlayIcon" aria-hidden="true"></i></div>
                    <img ng-src="{{ThumbnailUrl}}/{{video.Id}}/{{ThumbnailDefaultImage}}" class="youtubeThumbnailImage" />
                    <div class="youtubeVideoTitle" title="{{video.Title}}">{{video.Title}}</div>
                    <div class="youtubeVideoDescription">{{video.Description}}</div>
                </div>
            </div>
        </div>
        <div id="youtubeVideoModal" class="modal fade youtubeVideoModal" role="dialog">
            <div class="modal-dialog youtubeVideoModalDialog">
                <div class="modal-content">
                    <div id="youtubeVideoModalBody" class="modal-body youtubeVideoModalBody"><iframe src="" id="youtubeVideoFrame" class="youtubeVideoFrame" frameborder="0"></iframe></div>
                </div>
            </div>
        </div>
    </div>
</div>


